/* start global rules */
:root {
    --main-color:#2196f3;
    --main-color-alt: #1787e0;
    --main-transition: .4s;
    --section-padding: 120px;
    --section-margin: 100px;
    --section-background: #ececec;
    --par-color: #777;
    --main-transition: .3s;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* small  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
body {
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
}
ul {
    list-style :none;
}
a {
    text-decoration: none;
}
/* start sigin-in */
.sigin-in {
    display: flex;
    min-height: 100vh;
}
.sigin-in .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    background-color: #ffa00069;
}
@media (max-width: 991px) {
    .sigin-in .image  {
        display: none;
    }
}
.sigin-in .image .content {
    text-align: center;
    padding: 0 20px;
}
.sigin-in .image img:first-child {
    width: 90px;
    margin-bottom: 30px;
}
.sigin-in h2 {
    font-size: 30px;
    font-weight: bold;
    max-width: 401px;
    margin: 0 auto;
    color: var(--par-color);
}
.sigin-in .image img:last-child {
    margin: 50px auto 0;
}
.sigin-in .form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sigin-in .form .content {
    padding: 0 20px;
    text-align: center;
}
.sigin-in .form .content label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    font-weight: bold;
}
.sigin-in .form .content label a {
    color:  var(--main-color);
}
.sigin-in .form .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.sigin-in .form li {
    list-style: none;
    margin-bottom: 40px;
}
.sigin-in .form li span {
    color: #777;
    font-size: 18px;
}
.sigin-in .form li a {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
}
.sigin-in .main-input {
    display: block;
    width: 450px;
    height: 30px;
    margin-bottom: 30px;
    padding: 30px;
    border-radius: 6px;
    border: none;
    background-color: #ececec;
}
.sigin-in .main-input:focus {
    outline: none;
}
.sigin-in .submit {
    display: block;
    width: fit-content;
    font-size: 18px;
    font-weight: bold;
    margin: 30px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 6px;
    transition: var(--main-transition);
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
/* end sigin-in */
/* start sigin up */
.sigin-up {
    display: flex;
    height: 100vh;
}
.sigin-up .form {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sigin-up .content {
    padding: 0 20px;
    text-align: center;
}
.sigin-up .form .content img {
    margin: 20px auto;

}
.sigin-up .content .title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.sigin-up .content p {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.sigin-up form .main-input {
    display: block;
    width: 400px;
    padding: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    background-color: var(--section-background);
    outline: none;
}
.sigin-up form .submit {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: var(--main-color);
    color: white;
    transition: var(--main-transition);
}
.sigin-up form button:hover {
    background-color: var(--main-color-alt);
}
.sigin-up form a {
    display: block;
    width: 100%;
    font-size: 18px;
    padding: 20px;
    border: none;
    background-color: var(--section-background);
    transition: var(--main-transition);
}
.sigin-up form a:hover {
    background-color: var(--main-color);
    color: white;
}
.sigin-up .image {
    display: flex;
    flex: 1;
    justify-content: center;
    background-image: url("imgs/login-visual-2.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    background-color: #A2D2FF;
}
@media (max-width: 991px) {
    .sigin-up .image {
        display: none;
    }
    
}
/* end sigin up */
/* start header  */
.header {
    /* box-shadow: 0 0 10px #ddd; */
    background-color: var(--par-color);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    min-height: 73.6px;
    display: flex;
    align-items: center;
}
.header .main-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header .main-nav i {
    font-size: 22px;
    color: white;
    position: relative;
}
@media (min-width: 768px) {
    .header .main-nav i {
        display: none;
    }
}
.header .main-nav i:hover + .links {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
}
.header .main-nav .links {
    display: flex;
}
@media (max-width: 767px) {
    .header .main-nav .links {
        display: none;
    }
}
.header .main-nav .links .menu {
    width: 130px;
    padding: 15px 0;
    text-align: center;
    margin-right: 10px;
    position: relative;
}
.header .main-nav .links .menu:hover .sub-menu {
    display: block;
}
.header .main-nav .links .menu > a {
    display: block;
    padding: 0 15px;
    font-size: 18px;
    color: white;
}
.header .sub-menu {
    background-color: var(--section-background);
    position: absolute;
    top: 100%;
    width: 100%;
    transition: var(--main-transition);
    display: none;
    z-index: 2;
}
.header .sub-menu li {
    margin:5px;
}
.header .sub-menu li:not(:last-child) {
    border-bottom: 1px solid #b4b4b4;
}
.header .sub-menu li a {
    display: block;
    padding: 15px 20px;
    transition: var(--main-transition);
}
.header .sub-menu li a:hover {
    background-color: orange;
}
/* end header  */
/* start landing */
.landing {
    background-image: url("imgs/istockphoto-1190454160-1024x1024.jpg");
    background-size: cover;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
}
.landing:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
/* end landing */
/* start design  */
.design {
    padding-top: 175px;
}
.design .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    color: white;
}
@media (max-width: 991px) {
    .design .container {
        flex-direction: column;
    }
}
.design .text {
    flex-basis: 50%;
    color: white;
    z-index: 2;
    text-align: center;
    order: -1;
}
.design .text h3 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.design .text p {
    color: var(--par-color);
    font-size: 20px;
    line-height: 1.6;
    max-width: 455px;
    margin: 15px auto;
}
.design .content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-basis: 50%;
}
.design .content .box {
    background-color: white;
    color: var(--par-color);
    padding: 20px;
    text-align: center;
    opacity: .5;
    transition: var(--main-transition);
    position: relative;
    min-width: 147px;
    min-height: 133px;
}
.design .content .box:hover {
    opacity: 1;
    transform:translatey(-10px);
}
.design .content .box a {
    color: var(--par-color);
}
.design .content .box p {
    margin-top: 10px;
}
/* end design  */
/* start reset  */
.bill {
    padding-top: var(--section-padding);
}
.bill .container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 30px;
}
.bill form {
    background-color: orange;
    padding: 20px;
}
.bill form input[type="checkbox"] {
    width: 15px;
    height: 15px;
}
.bill form input[type="number"] {
    width: 70px;
    height: 30px;
}
.bill .submit {
}
/* end reset  */
/* start sales */
.daily-sales {
    padding-top: var(--section-padding);
}
.daily-sales .container {
    position: relative;
    color: white;
}
.daily-sales form {
    width: 600px;
    max-width: 100%;
    display: flex;
    gap: 20px;
    text-align: center;
    margin: auto;
    padding: 30px 40px;
    border-radius: 58px;
}
@media (max-width: 767px) {
    .daily-sales form  {
        flex-direction:  column;
        padding: 10px 20px;
    }
}
.daily-sales form .submit-daily-sales {
    width: 130px;
    font-size: 20px;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .daily-sales form .submit-daily-sales {
        width: 100%;
    }
}
.daily-sales form .submit-daily-sales:hover {
    background-color: var(--main-color-alt);
}
.daily-sales form input[type="month"] {
    display: block;
    width: calc(100% - 130px);
    padding: 20px;
    border-radius: 20px;
    border: none;
}
@media (max-width: 767px) {
    .daily-sales form input[type="month"] {
        width: 100%;
    }
}
.daily-sales form input[type="month"]:focus {
    outline: none;
}
.daily-sales table {
    width: 100%;
    text-align: center;
    border: 1px solid;
    margin: 30px auto;
}
.daily-sales table thead {
    background-color: orange;
}
.daily-sales table thead tr td {
    padding: 10px;
}
/* end sales */
/* start sales two  */
.whole-sales {
    padding-top: var(--section-padding);
}
.whole-sales .container {
    position: relative;
    color: white;
}
.whole-sales form {
    width: 100%;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
.whole-sales form .submit-whole-sales {
    margin-right: 30px;
    width: 100px;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
@media (max-width: 767px) {
    .whole-sales form .submit-whole-sales {
        margin: 0 auto 30px;
    }
}
.whole-sales form .submit-whole-sales:hover {
    background-color: var(--main-color-alt);
}
.whole-sales form input[type="month"] {
    width: 400px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 30px;
    margin-right: 50px;
    max-width: 100%;
}
@media (max-width: 767px) {
    .whole-sales form input[type="month"] {
        margin: 0;
        margin-bottom: 30px;
    }
}
.whole-sales form input[type="month"]:focus {
    outline: none;
}
.whole-sales table {
    width: 100%;
    margin: 50px auto;
    border: 1px solid #ddd;
    text-align: center;
}
.whole-sales table thead {
    background-color: orange;
}
.whole-sales table thead tr td {
    padding: 10px;
}
/* end sales two  */
/* start add prodect  */
.add-prodect {
    padding-top: var(--section-padding);
}
.add-prodect .container {
    position: relative;
    color: white;
}
.add-prodect form {
    width: 600px;
    max-width: 100%;
    margin: auto;
}
.add-prodect form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.add-prodect form input {
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    outline: none;
}
.add-prodect form .submit-add-prodect {
    display: block;
    width: fit-content;
    padding: 15px 25px;
    font-size: 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    transition: var(--main-transition);
    margin-left: auto;
    cursor: pointer;
}
.add-prodect form  .submit-add-prodect:hover {
    background-color: var(--main-color-alt);
}
/* end add prodect  */
/* start supplier  */
.add-resource {
    padding-top: var(--section-padding);
}
.add-resource .container {
    position: relative;
    color: white;
}
.add-resource form {
    width: 600px;
    max-width: 100%;
    margin: auto;
}
.add-resource form label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}
.add-resource form input {
    display: block;
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    outline: none;
}
.add-resource form .submit-add-resource {
    display: block;
    width: fit-content;
    font-size: 20px;
    padding: 15px 25px;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    cursor: pointer;
}
.add-resource form .submit-add-resource:hover {
    background-color: var(--main-color-alt);
}
/* end supplier  */
/* start setting prodect  */
.prodect-preparation {
    padding-top: var(--section-padding);
}
.prodect-preparation .container {
    position: relative;
}
.prodect-preparation input {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
}
.prodect-preparation table {
    width: 100%;
    margin: 30px auto;
    color: white;
}
.prodect-preparation table thead {
    background-color: red;
    color: white;
}
.prodect-preparation table thead td {
    padding: 20px;
}
.prodect-preparation table tbody {
    background-color: #524A4E;
}
.prodect-preparation table tbody tr td {
    padding: 10px;
}
.prodect-preparation table tbody tr td a {
    color: white;
}
.prodect-preparation table tbody tr td a:hover {
    text-decoration: underline;
}
/* end setting prodect  */
/* start setting invices  */
.invoice-preparation {
    padding-top: var(--section-padding);
}
.invoice-preparation .container {
    position: relative;
}
.invoice-preparation input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
}
.invoice-preparation table {
    width: 100%;
    margin: 30px auto;
    color: white;
}
.invoice-preparation table thead {
    background-color: red;
}
.invoice-preparation table thead td {
    padding: 20px;
}
.invoice-preparation table tbody {
    background-color: #524A4E;
}
.invoice-preparation table tbody td {
    padding: 15px;
}
.invoice-preparation table tbody td a {
    color: white;
    transition: var(--main-transition);
}
.invoice-preparation table tbody td a:hover {
    text-decoration: underline;
}

/* end setting invices  */